<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

                <form [formGroup]="loginForm">
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="email">Email</label>
                  <input formControlName="email" type="email" id="email" class="form-control form-control-lg" />
                </div>
                <div *ngIf="this.loginForm.get('email')?.errors&&this.loginForm.get('email')?.touched" style="color: red;">Invalid Emai Id</div>

  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="pswd">Password</label>
                  <input formControlName="pswd" type="password" id="pswd" class="form-control form-control-lg" />
                </div>
                <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" style="color: red;">Invalid Password</div>

  
                <button class="btn btn-outline-light btn-lg px-5" (click)="login()" type="submit">Login</button>
  
                </form>
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a routerLink="register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
